:root {
  /* Colors */
  --gradient: linear-gradient(to left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --gray-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  /* Fonts */
  --main-fs: 14px;
  --400-fw: 400;
  --700-fw: 700;
  --font-fam: 'Raleway', sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fam);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Component Styling */

/* Container */
.container {
  width: 375px;
  height: 666px;
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Info Container */
.info {
  width: 325px;
  height: 200px;
  margin-bottom: 20px;
  padding: 35px;
  background-color: var(--dark-blue);
  border-radius: 10px 100px 10px 10px;
}

.info > img {
  margin-bottom: 30px;
}

ul {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  width: 50px;
  height: 50px;
  background: var(--very-dark-blue);
  list-style: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Storage container */
.storage-status {
  width: 325px;
  height: 140px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Paragraph Element */
p {
  font-size: var(--main-fs);
  margin: 15px;
}

.used {
  font-weight: var(--700-fw);
}

p, .numbers-scale {
  color: var(--pale-blue);
}

/* Graphical scale */
.outer-scale {
  width: 270px;
  height: 20px;
  background-color: hsl(228, 68%, 21%);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.inner-scale {
  width: 81.5%;
  height: 15px;
  margin-left: 3px;
  background: var(--gradient);
  border-radius: 50px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
