:root {
  /* Colors */
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --gray-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  /* Fonts */
  --main-fs: 14px;
  --400-fw: 400;
  --700-fw: 700;
  --font-fam: 'Raleway', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
